<center>
<i class="fa-solid fa-5x fa-user" style="color:white;"></i>
        {{#each user}}
           <h1>{{nombre}}</h1>
        {{/each}}
  
<h4><i class="fa-solid fa-phone"> Telefono:</i></h4>
         {{#each user}}
           <h4>{{telefono}}</h4>
        {{/each}}
<h4><i class="fa-solid fa-envelope"> Email:</i></h4>
         {{#each user}}
           <h4>{{email}}</h4>
        {{/each}}
</center>       
        
