<div class="card"> {{! Tarjeta}}
    <div class="card-bdy text-center">
        <h1 style="color:rgb(17, 13, 140); font-size:40px;">Biblioteca Pública Municipal Fray Diego de Chávez y Alvarado</h1><br><br>
        <h2> Somos tu mejor opcion...</h2> {{! Texto de ejemplo}}
        <h3><a href="https://goo.gl/maps/hTwPSv59pWNvC8aZ6">Dirección: </a>Parque Nacional, Zona Centro, Yuriria, Gto.</h3><br>
        <h5>Horario de atencion:<br><br>
            Lunes	9:00–20:00<br>
            Martes	9:00–20:00<br>
            Miércoles	9:00–20:00<br>
            Jueves	9:00–20:00<br>
            Viernes	9:00–20:00<br>
            Sábado	Cerrado<br>
            Domingo	Cerrado<br><br>
            Teléfono: 445 168 5759</h5>
<img src="/img/B1.jpg" width="600" height="300" align="right" class="mx-auto d-block m-4" alt="B1">
<img src="/img/B2.jpg" width="600" height="300" align="left" class="mx-auto d-block m-4" alt="B2"
    </div>
</div>

