<div class="card card-body p-5 mt-4" >
  <h1 class="display-4">Bienvendios</h1>
  <hr class="my-4" />
  <p>Esta es una simple app de tareas
  </p>
  <div>
    <a
      class="btn btn-primary btn-lg"
      href="/signup"
      role="button"
    >Register</a>
  </div>
</div>




