<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <div align="center"><img src="/img/LSM.png"></div><br><br>
            <a href="/usuarios/iniciar" class="btn btn-dark">Vamos</a>
        </div>
    
        
    </header>


</main>
