<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca</title>
    <!-- BOOTSTRAP 5-->
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
   <script src="https://kit.fontawesome.com/77b5c6d17b.js" crossorigin="anonymous"></script>
   
   

</head>
<body>
    
    {{> navbar}}
    <main class="container p-5">
      <div class="col-md-4 offset-md-4">
        {{> messages }}
        {{> errors }}
      </div>
      {{{ body }}}
    </main>

</body>
</html>